<section class="margins">
<h1>Welcome to my cookbook</h1>
<p>please log in to contribute to our recipe blog </p>

<div>
    <h1>List of Recipes</h1>
    {{#each recipes}}
    <div class="card">
        <h2>{{name}}</h2>
        <h4>By: {{user.user_name}}</h4>
        <h3>Ingredients</h3>
        {{#each ingredients}}
        <p class="ingredient">
            {{#if join.quantity}}
            <span class="quantity">{{join.quantity}}</span>
            {{/if}}

            {{#if join.measurement}}
            <span class="measurement">{{join.measurement}}</span>
            {{/if}}

            <span class="name">{{name}}</span>
        </p>
        {{/each}}
        <h3>Instructions:</h3>
        <p>{{instructions}}</p>
    </div>
    {{/each}}
</div>
</section>